Repository knative/caching, pull requests merged in 2019-06, with the labels that each got.

#37 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/scripts/release.sh
  vendor/github.com/knative/test-infra/tools/dep-collector/README.md
  vendor/knative.dev/pkg/RELEASING.md
  vendor/knative.dev/pkg/cloudevents/README.md
  vendor/knative.dev/pkg/injection/README.md
  vendor/knative.dev/pkg/test/README.md
Labels: approved, lgtm, ok-to-test, size/XL

#36 Migrate caching to use the knative.dev/caching import path
  hack/update-codegen.sh
  pkg/apis/caching/v1alpha1/register.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/caching/v1alpha1/caching_client.go
  pkg/client/clientset/versioned/typed/caching/v1alpha1/fake/fake_caching_client.go
  pkg/client/clientset/versioned/typed/caching/v1alpha1/fake/fake_image.go
  pkg/client/clientset/versioned/typed/caching/v1alpha1/image.go
  pkg/client/informers/externalversions/caching/interface.go
  pkg/client/informers/externalversions/caching/v1alpha1/image.go
  pkg/client/informers/externalversions/caching/v1alpha1/interface.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/injection/client/client.go
  pkg/client/injection/client/fake/fake.go
  pkg/client/injection/informers/caching/factory/cachingfactory.go
  pkg/client/injection/informers/caching/factory/fake/fake.go
  pkg/client/injection/informers/caching/v1alpha1/image/fake/fake.go
  pkg/client/injection/informers/caching/v1alpha1/image/image.go
  pkg/client/listers/caching/v1alpha1/image.go
Labels: approved, lgtm, size/XS

#38 Auto-update dependencies
  Gopkg.lock
Labels: approved, lgtm, ok-to-test, size/XS

#39 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/DEVELOPMENT.md
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/v1alpha1/condition_set.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/register.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/register.go
  vendor/knative.dev/pkg/apis/istio/authentication/v1alpha1/policy_types.go
  vendor/knative.dev/pkg/apis/istio/authentication/v1alpha1/register.go
  vendor/knative.dev/pkg/apis/istio/v1alpha3/register.go
  vendor/knative.dev/pkg/apis/istio/v1alpha3/virtualservice_types.go
  vendor/knative.dev/pkg/apis/testing/conditions.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/main.go
  vendor/knative.dev/pkg/configmap/testing/configmap.go
  vendor/knative.dev/pkg/controller/stats_reporter.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/metrics/record.go
  vendor/knative.dev/pkg/metrics/stackdriver_exporter.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/knative.dev/pkg/test/README.md
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/kube_checks.go
  vendor/knative.dev/pkg/test/logging/logging.go
  vendor/knative.dev/pkg/test/monitoring/monitoring.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/testing/inner_default_resource.go
  vendor/knative.dev/pkg/testing/resource.go
  vendor/knative.dev/pkg/tracing/opencensus.go
Labels: approved, lgtm, ok-to-test, size/M
